<h1>Blog Posts</h1>

<%= link_to "New Blog Post", new_blog_post_path %>

<% @blog_posts.each do |blog_post| %>

  <h2><%= blog_post.title %></h2>

  <p>
    <%= blog_post.body %>
  </p>

  <%= link_to "View Full Post", blog_post %>
  <%= link_to "Edit", edit_blog_post_path(blog_post) %>
  <%= link_to "Destroy", blog_post, data: { method: "delete" } %>

<% end %>

<p>
  <%= @blog_posts.size %> blogs posts.
</p>