<h1>Blog Posts</h1>

<a href="/blog_posts/new">New Blog Post</a>

<% @blog_posts.each do |blog_post| %>

  <h2><%= blog_post.title %></h2>

  <p>
    <%= blog_post.body %>
  </p>

  <a href="/blog_posts/<%= blog_post.id %>">View Full Post</a>
  <a href="/blog_posts/<%= blog_post.id %>/edit">Edit</a>
  <a href="/blog_posts/<%= blog_post.id %>" data-method="delete">Destroy</a>

<% end %>

<p>
  <%= @blog_posts.size %> blogs posts.
</p>